{% for tun in vpn_config.vpn_connection.ipsec_tunnel %}
{{ tun.customer_gateway.tunnel_outside_address.ip_address }} {{ tun.vpn_gateway.tunnel_outside_address.ip_address }} : PSK "{{ tun.ike.pre_shared_key }}"
{% endfor %}